body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
    margin: 0;
    padding: 0;
}
.calculator{
    width: 90%;
    max-width: 400px;
    height: 80vh;
    background: rgb(103, 68, 202);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

}

.display{
    height: 25%;
    width: 95%;
    border-radius: 10px;
    background: white;
    border: 3px solid black;
    margin: 10px;
    margin-top: 7%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 1%;
    
}

.operaters{
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 93%;
    margin: 10px;
    margin-top: 0;
 
}

.box{
    cursor: pointer;
    user-select: none;
    border-radius: 10px;
    flex: 1 0 20%;
    background: rgb(209, 116, 116);
    color: white;
    border: 1px solid black;
    margin: 2px;
    display:flex;
    justify-content: center;
    align-items: center;
    transition: background 0.2s ease;
    font-size: 1.5rem;
}

.box:hover {
  background: #666;
}

